body {
  margin: 20px;
}

#taille {
  width: 300px;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
}
.purple {
  background-color: purple;
}
.grey {
  background-color: grey;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 500%;
  position: relative;
  display: inline-block;
}

.outlinelol {
  outline: none;
}
