#entete {
	height: 200px;	
	vertical-align:middle;
	line-height: 200px;
	font-weight: bold;
	font-style: italic;
}

#menu {
	background-color: orange;
	height: 150px;	
	vertical-align:middle;
	line-height: 150px;
	font-family: arial;
	font-style: italic;
}

#contenu {
	height: 400px;	
	vertical-align:middle;
	line-height: 400px;
	font-weight: bold;
	font-size:24px;
}

#footer {
	background-color: orange;
	height: 200px;	
	vertical-align:middle;
	line-height: 200px;
	font-weight: bold;
	font-style: italic;
}