* {
	margin: 0px;
	padding: 0px;
}

#entete {
	width: 100%;
	height: 75px;
	vertical-align:middle;
	line-height: 75px;
	font-weight: bold;
	font-size:24px;
	position: sticky;
	top: 0px;
}

ul {
	list-style:none;
	background-color: orange;
	height: 50px;
}

li {
	text-decoration: none;
	color: white;
	display:inline-block;
	width: 25%;
}

a {
    color:white;
    text-decoration:none;
    font-weight: bold;
    display:block;
    border-style: 2px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

.sous {
    display: none;
		background-color : orange;
		width: 100%;
}

.sous li {
	width: 100%;
	text-align: left;
}

a:hover {
	color:black;
	border-width: 0px 0px 3px 0px;
	border-style: solid;
}

div {
	height: 2000px;
}

ul li {
	float: left;
	background-color: orange;
	width: 25%;
	text-align: center;
	position: relative;
}

ul li a {
	text-align: center;
	padding right: 10px;
}

ul ul li {
	margin-right: auto;
}

ul li:hover .sous {
	display: block;
}
